body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  font-family: Lato, -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  font-size: 125%;
}

a {
  text-decoration: none;
}
