

footer {
    background-color: #034f2c;
    color:#fff;
    padding: 10px;
}

.container-footer {
    margin: 64px auto 0;
    text-align: center;
    max-width: 600px;
}

.container-footer h2 {
    margin: auto;
    max-width: 600px;
    border-top: 4px solid #FEC501;
    padding-top: 6px;
    font-size: 2rem;
    letter-spacing: 1px;
}

.container-footer-text {
    text-align: center;
    margin: auto;
    max-width: 600px;
  }
  
  .container-footer-text a {
    display: inline-block;
    margin-top: 10px;
    color: #FEC501;
  }

.container-footer-email {
    background-color: #034F2C;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 18px;
    border: none;
    cursor: pointer;
    margin: 24px 0;
}

.container-footer-email a{
    color: #034F2C;
}

.container-footer-email:hover{
    color: #fff;
    font-size: 1rem;
   font-style: italic;
}

.container-footer-email:hover a:hover{
    color: #fff;
}